<%- include('includes/head', {pageTitle: 'An Error Occured'}) %> 
<link rel="stylesheet" href="/styles/form.css">
<link rel="stylesheet" href="/styles/auth.css">
</head>
<body>
<%- include('includes/header') %> 
    <main>
        <h2>You are not authenticated.</h1>
        <p>Please try again later.</p>
        <p><a class="btn" href="/">Back To Safety!</a></p>
    </main>

<%- include('includes/footer') %> 