<%- include('../../shared/includes/head', {pageTitle: 'Add New Product'}) %>
<link rel="stylesheet" href="/styles/form.css">
</head>
<body>
<%- include('../../shared/includes/header') %> 
    <main>
        <h1>Add New Product</h1>
        <form action="/admin/products?_csrf=<%= locals.csrfToken %>" method="POST" enctype="multipart/form-data"> <!-- multipart is used to sent files to the server-->
           
            <p>
                <label for="title">Title</label>
                <input type="text" name="title" id="title">
            </p>
            <p>
                <label for="image">Image</label>
                <input type="file" name="image" id="image" accept="image/png, image/jpeg">
            </p>
            <p>
                <label for="summary">Summary</label>
                <input type="text" id="summary" name="summary">
            </p>
            <p>
                <label for="price">Price</label>
                <input type="number" name="price" id="price" min=10 step="5">
            </p>
            <p>
                <label for="description">Description</label>
                <textarea name="description" id="description" cols="30" rows="10"></textarea>
            </p>
            <p>
                <button type="reset" class="btn btn-alt">Reset</button>
                <button class="btn" type="submit">Submit</button>
            </p>
        </form>
    </main>

<%- include('../../shared/includes/footer') %> 