<%- include('../includes/head', {pageTitle: 'Sign Up'}) %> 
</head>
<body>
<%- include('../includes/header') %> 
    <main>
        <h1>Create New Account</h1>
        <form action="">
            
        </form>
    </main>

<%- include('../includes/footer') %> 